:host{
    --border-color: rgb(134, 134, 134);
}

ul {
    position: relative;
}

ul li {
    position: relative;
}

ul li::before {
    position: absolute;
    content: "";
    left: -33px;
    width: 25px;
    top: -20px;
    height: calc(50% + 20px);
    border-left: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
}

ul li::after {
    position: absolute;
    content: "";
    left: -33px;
    top: calc(50%);
    width: 25px;
    height: calc(50%);
    border-left: 3px solid var(--border-color);
}

ul li:last-child:after {
    border-left: 3px dashed var(--border-color);
    top: calc(50% + 3px);
    height: calc(50% + -3px);

}

.condition{
    z-index: 999;
}

.condition .active {
    background-color: rgb(0, 123, 255);
    color: white;
}

.condition-left {
    cursor: pointer;
    border-style: solid;
    border-right: unset;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    height: 40px;
    width: 100px;
    border-radius: 5px 0px 0px 5px;
    background-color: white;


}


.condition-right {
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-left: unset;
    border-color: rgb(192, 192, 192);
    height: 40px;
    width: 100px;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
}